<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href=style0.css rel="stylesheet">
</head>
<body>
    <header class="container-fluid text-center">
        <h2>Javascript Code Quiz</h2>
    </header>
    <br>
    
    <article>
        <div class="row" id="row1">
            <!--content-->
        </div>
        <br>

        <div class="row" id="row2">
            <div class ="col-sm-8 mx-auto">
                <div class="card border-dark text-center">
                    <div class="card-body">
                        <h2 class="card-title">Game Over</h2>
                        <i><p class="card-text">Try Again?</p></i>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="row" id="row3">
            <div class="d-grid gap-2 col-2 mx-auto">
                <button type="button" class="btn btn-outline-dark" id="back-button">Back</button>
            </div>
        </div>
        <br>

        <div class="row" id="row4">
            <!--content-->
        </div>

    </article>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="script.js"></script> -->
</body>
</html>