<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href=style0.css rel="stylesheet">
</head>
<body>
    <header class="container-fluid text-center">
        <h2>Javascript Code Quiz</h2>
    </header>
    <br>
    
    <article>
        <div class="row text-center" id="row1">
            <h1 id="high-score">High Score</h1>
        </div>
        <br>

        <div class="row text-center" id="row2">
            <h2>User: <span id="initial-text">AAA</span></h2>
        </div>
        <br>

        <div class="row text-center" id="row3">
            <h2>Score: <span id="score-text">999</span></h2>
        </div>
        <br>

        <div class="row" id="row4">
            <div class="d-grid gap-2 col-2 mx-auto">
                <button type="button" class="btn btn-outline-dark" id="back-button">Back</button>
            </div>
        </div>

    </article>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="script.js"></script> -->
</body>
</html>